# Normalize line endings for all files that Git considers text files.
* text=auto eol=lf

/**        export-ignore
/scripts    !export-ignore
/scripts/** !export-ignore
/scenes    !export-ignore
/scenes/**    !export-ignore
/example    !export-ignore
/example/**    !export-ignore